:root{
    --primary:rgba(0, 0, 0, 0.87);
    --secondary:rgba(0, 0, 0, 0.6);
    --th:rgba(0, 0, 0, 0.38);
    --grey:#F5F5F5;
    --text-color:#fff;
    --background-color:#FFFFFF;
    --dark-mode:#101010;
    --emerald:#50C878;  
    --purple:#5a2a7a;
    --blue:#3A3CF9;    
}
